.table-wrapper {
    margin-top: 1rem;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    overflow: auto;
}

.modal-report-table {
    margin: 0 2rem 2rem 2rem;
}

.modal-report-table th {
    padding: 1rem;
}
